doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Imguplo
    body 
        h1=title  
        form
            div     
                label(for="image") 
                input(type="file", name="upload")
            button submit
        button#btn clickme
        div#img
        script(src="./js/app.js") 